content/altinn-studio/v10/nb/altinn-studio/v8/getting-started/app-dev-course/modul3/datamodel.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="rootNode" fixed="" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="Skjema">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="Innflytter" type="Innflytter" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innflytter">
    <xsd:sequence>
      <xsd:element name="Fornavn" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="Etternavn" minOccurs="1" maxOccurs="1" type="xsd:string" />
      <xsd:element name="Mellomnavn" nillable="true" minOccurs="0" maxOccurs="1" type="xsd:string" />
      <xsd:element name="Alder" nillable="true" minOccurs="0" maxOccurs="1" type="xsd:integer" />
      <xsd:element name="Arbeidsinformasjon" minOccurs="1" maxOccurs="1" type="Arbeidsinformasjon" />
      <xsd:element name="KanBrukeSkjema" nillable="true" minOccurs="1" maxOccurs="1" type="xsd:boolean" />
      <xsd:element name="TidligereBosteder" minOccurs="1" maxOccurs="10" type="Adresse" />
      <xsd:element name="Adresse" type="Adresse" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Kontaktinformasjon" type="Kontaktinformasjon" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Adresse">
    <xsd:sequence>
      <xsd:element name="Gateadresse" type="xsd:string" minOccurs="1" maxOccurs="1"  />
      <xsd:element name="Postnr" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Poststed" type="xsd:string" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kontaktinformasjon">
    <xsd:sequence>
      <xsd:element name="Telefonnummer" type="xsd:string" minOccurs="1" maxOccurs="1"  />
      <xsd:element name="Epost" type="xsd:string" minOccurs="1" maxOccurs="1"  />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Arbeidsinformasjon">
    <xsd:sequence>
      <xsd:element name="Sektor" type="xsd:string" minOccurs="1" maxOccurs="1"  />
      <xsd:element name="Bransje" type="xsd:string" minOccurs="0" maxOccurs="1"  />
      <xsd:element name="AarIArbeidslivet" type="xsd:string" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="InnflytterSkjema">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="InnflytterSkjema" type="Skjema" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>