content/teknologi/altinnstudio/development/handbook/test/automated-test-app/automatedtest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:brreg="http://www.brreg.no/or" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Skjema">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                    <p>App for automated testing</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                    <p>App for automatiserte tester</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                    <p>App for automatiserte tester på nynorsk</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AutomatedTest_KortSvar">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Input field component for automated test with validation</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Kort svar komponent for automatisert testing med validering</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Kort svar komponent for automatisert testing med validering på nynorsk</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AutomatedTest_LangtSvar">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Textarea component for automated test with validation</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Langt svar komponent for automatisert testing med validering</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Langt svar komponent for automatisert testing med validering på nynorsk</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AutomatedTest_Avkrysningsboks">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Checkbox component for automated test with validation</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Avkrysningsboks komponent for automatisert testing</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Avkrysningsboks komponent for automatisert testing på nynorsk</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AutomatedTest_Radioknapp">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Radiobutton component for automated test</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Radioknapp komponent for automatisert testing</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Radioknapp komponent for automatisert testing på nynorsk</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AutomatedTest_Dato">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Datepicker component for automated test</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Dato komponent for automatisert testing</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Dato komponent for automatisert testing på nynorsk</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AutomatedTest_Adresse">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Address component for automated test</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Adresse komponent for automatisert testing</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Adresse komponent for automatisert testing på nynorsk</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AutomatedTest_Postnummer" />
                <xs:element minOccurs="0" ref="AutomatedTest_Poststed" />
                <xs:element minOccurs="0" ref="AutomatedTest_Tilleggsadresse" />
                <xs:element minOccurs="0" ref="AutomatedTest_Bolignummer" />
                <xs:element minOccurs="0" ref="AutomatedTest_BringPostnummer_in">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>External API connection input (Bring postnummer) for automated test</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>API tilkobling input (Bring postnummer) for automatisert testing</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>API tilkobling input (Bring postnummer) for automatisert testing på nynorsk</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AutomatedTest_BringPostnummer_out">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>External API connection output (Bring postnummer) for automated test</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>API tilkobling output (Bring postnummer) for automatisert testing</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>API tilkobling output (Bring postnummer) for automatisert testing på nynorsk</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AutomatedTest_kortsvar_dynamikk_in">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Input field component (dynamics) for automated test</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Kort svar komponent (dynamics) for automatisert testing</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Kort svar komponent (dynamics) for automatisert testing på nynorsk</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AutomatedTest_dato_dynamikk_ut">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Datepicker component (dynamics) for automated test</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Dato komponent (dynamics) for automatisert testing</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Dato komponent (dynamics) for automatisert testing på nynorsk</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AutomatedTest_HardValidering">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Input field component (hard validation) for automated test</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Kort svar komponent (hard validation) for automatisert testing</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Kort svar komponent (hard validation) for automatisert testing på nynorsk</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="AutomatedTest_MykValidering">
                    <xs:annotation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="EN" brreg:teksttype="LEDE">
                                <p>Input field component (soft validation) for automated test</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NOB" brreg:teksttype="LEDE">
                                <p>Kort svar komponent (soft validation) for automatisert testing</p>
                            </brreg:tekst>
                        </xs:documentation>
                        <xs:documentation>
                            <brreg:tekst brreg:lang="NON" brreg:teksttype="LEDE">
                                <p>Kort svar komponent (soft validation) for automatisert testing på nynorsk</p>
                            </brreg:tekst>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:anyAttribute />
        </xs:complexType>
    </xs:element>
    <xs:element name="AutomatedTest_KortSvar">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall11-repformat-116" />
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AutomatedTest_LangtSvar" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Tekst100-repformat-48" />
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AutomatedTest_Avkrysningsboks" type="xs:string" />
    <xs:element name="AutomatedTest_Radioknapp" nillable="true" type="xs:string" />
    <xs:element name="AutomatedTest_Dato" nillable="true" type="xs:string" />
    <xs:element name="AutomatedTest_Adresse" nillable="true" type="xs:string" />
    <xs:element name="AutomatedTest_Postnummer" nillable="true" type="xs:string" />
    <xs:element name="AutomatedTest_Poststed" nillable="true" type="xs:string" />
    <xs:element name="AutomatedTest_Tilleggsadresse" nillable="true" type="xs:string" />
    <xs:element name="AutomatedTest_Bolignummer" nillable="true" type="xs:string" />
    <xs:element name="AutomatedTest_BringPostnummer_in" nillable="true" type="xs:string" />
    <xs:element name="AutomatedTest_BringPostnummer_out" nillable="true" type="xs:string" />
    <xs:element name="AutomatedTest_kortsvar_dynamikk_in" nillable="true">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Heltall4" />
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AutomatedTest_dato_dynamikk_ut" nillable="true" type="xs:string" />
    <xs:simpleType name="Heltall11-repformat-116">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter positive integer with eleven digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever positivt heltall med elleve siffer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev positivt heiltal med elleve siffer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="11" />
            <xs:pattern value="[0-9]{11}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AutomatedTest_HardValidering" nillable="true" type="xs:string" />
    <xs:element name="AutomatedTest_MykValidering" nillable="true" type="xs:string" />
    <xs:simpleType name="Heltall4">
        <xs:annotation>
            <xs:documentation>
                <brreg:tekst brreg:lang="EN" brreg:teksttype="FEIL">
                    <p>Enter positive integer with four digits</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NOB" brreg:teksttype="FEIL">
                    <p>Feltet krever positivt heltall med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
            <xs:documentation>
                <brreg:tekst brreg:lang="NON" brreg:teksttype="FEIL">
                    <p>Feltet krev positivt heiltal med fire siffer</p>
                </brreg:tekst>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="4" />
            <xs:pattern value="[0-9]{4}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Tekst100-repformat-48">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="100" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>